.home{
    background-color: black;
}

.home_body {
    position: relative;
    height: 50vh;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 80px;
    padding-top: 480px;
}

.home_body > *{
    position: relative;
}



.gradient{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    background: rgba(6, 35, 32, 0.2);
    left: 0;
}

.grad{
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 100%;
    padding: 0px 0px;
    background:rgba(6, 35, 32, 0.9);
}

.movie_details{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;

}

.movie_details > p{
    font-size: 18px;
    color: #fff;
    line-height: 120%;
    font-family: 'Roboto';
}

.buttons{
    padding-bottom: 180px;
}

.button_left{
    display: flex;
    gap: 1rem
}

.button_play{
    height: 65px;
    width: 170px;
    color: black;
    background-color: rgb(255,255,255);
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

.button_info{
    height: 65px;
    width: 170px;
    color: #fff;
    background-color: rgb(80,81,81);
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    z-index: 0.2;
    cursor: pointer;
}